.App{
  background-color: #282c34;
  margin: 0;
  padding: 20px;
}
.App-header{
  color: white;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title{
  text-align: center;
  color: white;
 
}